FB_SERVICE_TYPE="service_account"
FB_SERVICE_PROJECT_ID="xyz"
FB_SERVICE_PRIVATE_KEY_ID="111111111111111"
FB_SERVICE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----xyz-----END PRIVATE KEY-----\n"
FB_SERVICE_CLIENT_EMAIL="xyz"
FB_SERVICE_CLIENT_ID="11111111111"
FB_SERVICE_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
FB_SERVICE_TOKEN_URI="https://oauth2.googleapis.com/token"
FB_SERVICE_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
FB_SERVICE_CLIENT_X509_CERT_URL="https://www.googleapis.com/robot/v1/metadata/xyz.com"