@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}
body {
  @apply h-full;
}
div#__next {
  @apply h-full;
}
main {
  @apply h-full;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

*::-webkit-scrollbar-track {
  background: #fffffe;
  border: 1px solid transparent;
  border-radius: 8px;
}

*::-webkit-thumb {
  background: #fffffe;
  border: 1px solid transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #d1d2d6;
}
